{% extends "base.html" %}

{% block title %}Market Page{% endblock %}
{% block market %} active{% endblock %}

{% block heading %}Welcome {{session['username']}} to our market page{% endblock %}
{% block body %}







{% endblock %}



{% block javascript %}
<script>


	function viewInfo(val1 = '', val2 = '') {
		const overlay = document.getElementById('overlay');
		const section_modal_view_info = document.getElementById('section_modal_view_info');
		const modal_view_info_title = document.getElementById('modal_view_info_title');
		const modal_view_info_body = document.getElementById('modal_view_info_body');

		section_modal_view_info.style.display = 'block';
		overlay.style.position = "fixed";
		overlay.style.top = "0";
		overlay.style.right = "0";
		overlay.style.bottom = "0";
		overlay.style.left = "0";
		overlay.style.backgroundColor = "rgba(0,0,0,0.5)";
		overlay.style.zIndex = "15";

		/* passing values dynamically */
		modal_view_info_title.innerHTML = "Description For: " + val1;
		modal_view_info_body.innerHTML = val2;
	}


	function buyItem(itemname = '', price = '', id = '') {
		const overlay = document.getElementById('overlay');
		const section_modal_buyitem = document.getElementById('section_modal_buyitem');
		const modal_buy_title = document.getElementById('modal_buy_title');
		const modal_buy_body = document.getElementById('modal_buy_body');

		/* varaibles for the form inpu id */
		const modalbuy_id = document.getElementById('modalbuy_id');

		/* passing values to the modal confirmation form */
		modalbuy_id.value = id;

		/* changing the style effects */
		section_modal_buyitem.style.display = 'block';
		overlay.style.position = "fixed";
		overlay.style.top = "0";
		overlay.style.right = "0";
		overlay.style.bottom = "0";
		overlay.style.left = "0";
		overlay.style.backgroundColor = "rgba(0,0,0,0.5)";
		overlay.style.zIndex = "15";


		/* passing values dynamically */

		modal_buy_title.innerHTML = itemname;

		var itemName = "Item Name: " + itemname + "<br>";
		var itemPrice = "Price: " + price + "<br>";
		var itemID = "ID NO.: " + id;
		var conclude = "<h5 style='color:#ff6666'>by clicking the below you are confirmation to buy the above item</h5>";
		var message = itemName + itemPrice + itemID + conclude;

		modal_buy_body.innerHTML = message;
	}



	function addNewItem() {
		window.location.href = '/upload_item';
	}
</script>
{% endblock %}