@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* percentage of user's browser font-size setting */
  font-size: 62.5%;

  /* for the transition horizontally */
  overflow-x: hidden;

  /* scroll-behavior: smooth; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 100vh;
  background-color: #e6f6f3;
  gap: 8rem;
  max-width: 120rem;
}
@media (max-width: 75em) {
}
.login-text {
  width: 30rem; /* Adjust as needed */
}
.login-text h1 {
  font-size: 3rem;
  /* font-size: 24px; */
  margin-bottom: 10px;
  color: #00a082;
}
.login-text p {
  color: #555;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.container {
  width: 30rem; /* Adjust as needed */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-form-wrapper {
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #00a082;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  text-align: start;
  color: #555;
}
label:nth-child(1) {
  margin-top: 10px;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 0.9rem;
  outline: none;
}
.password {
  position: relative;
}
span {
  text-align: end;
  position: absolute;
  top: 3rem;
  left: 23rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #555;
  cursor: pointer;
}

.remember-me {
  margin-top: 10px;
}

.small_divtext {
  margin-top: 10px;
  font-size: 12px;
  color: #555;
}

.smallbtn {
  display: inline-block;
  padding: 10px 0px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #00a082;
  background: none;
  margin-top: 10px;
}

.normalbtn {
  background-color: #00a082;
  color: #fff;
  padding: 10px X 0;
  width: 100%;
  padding: 15px 15px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 25px;
  transition: 0.3s;
}
.normalbtn:hover {
  background-color: #008068;
}
