{% extends "user_base.html" %}

{% block title %}Passwoord Reset{% endblock %}
{% block reset %} active{% endblock %}

{% block heading %}Begin {{session['username']}} Your Password Reset Process{% endblock %}

{% block body %}
<section id="section_passwordreset" class="section_modula">
	<div id="div_regform">
		<form method="POST" action="{{url_for('user.password_reset')}}">
			<div>Existing User Name</div>
			<input id="reg_username" name="username" minlength="3" maxlength="20"><br><br>

			<div>Existing Email Address</div>
			<input id="reg_email" name="email" type="email" minlength="8" maxlength="60"><br><br>

			<div>New Password</div>
			<input id="reg_pwd1" name="pwd1" type="password" minlength="8" maxlength="60"><br><br>

			<div>Confirm New Password</div>
			<input id="reg_pwd2" name="pwd2" type="password" minlength="8" maxlength="60"><br><br>

			<button class="normalbtn">Reset Password</button>
		</form>
	</div>
</section>








{% endblock %}



{% block javascript %}
<script>

	function loginLink() {
		window.location.href = "/login"
	}
</script>
{% endblock %}