<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User Register Form</title>

	<link rel="stylesheet" href="../../static/user_register.css">
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>

<body>

	<section class="sign-up" id="section_regform">
		<div id="div_regform">
			<div class="login-text">
				<h1>Create your account (user)</h1>
				<p>Sign up to start using our services</p>
			</div>
			<div class="container">
				<div class="login-form-wrapper">
					<div class="login-form">
						<form method="POST" action="{{url_for('user.register')}}">
							<div>
								<label for="reg_username">Username</label>
								<input type="text" id="reg_username" name="username" minlength="3" maxlength="20"
									required>
							</div>


							<div>
								<label for="reg_email">Email</label>
								<input type="email" id="reg_email" name="email" minlength="8" maxlength="60" required>
							</div>


							<div class="password">
								<label for="reg_pwd1">Password</label>
								<input type="password" id="reg_pwd1" name="pwd1" minlength="8" maxlength="60" required>
								<span class="password-toggler" onclick="togglePasswordVisibility()">show</span>
							</div>

							<div class="password">
								<label for="reg_pwd2">Confirm Password</label>
								<input type="password" id="reg_pwd2" name="pwd2" minlength="8" maxlength="60" required>
								<span class="password-toggler_2" onclick="togglePasswordVisibility_2()">show</span>
							</div>

							<button class="normalbtn" onclick="checkPassword()">Continue</button>
						</form>

						<div class="small_divtext">Already Have an account?
							<button class="smallbtn" onclick="LoginLink()">Login Here</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script defer src="../../static/script.js"></script>
	<script>
		// Redirect to User login page
		function LoginLink() {
			window.location.href = "/user/login";
		}
	</script>
</body>

</html>