{% extends "user_base.html" %}

{% block title %}Register Page{% endblock %}
	{% block register %} active{% endblock %}

{% block heading %}Complete the below form to register{% endblock %}


{% block body %}


<section id="section_regform">
	<div id="div_regform">
		<form method="POST" action="{{url_for('user.register')}}">
			<div>User Name</div>
			<input id="reg_username" name="username" minlength="3" maxlength="20" required><br><br>

			<div>Email Address</div>
			<input id="reg_email" name="email" type="email" minlength="8" maxlength="60" required><br><br>

			<div>Password</div>
			<input id="reg_pwd1" name="pwd1" type="password" minlength="8" maxlength="60" required><br><br>

			<div>Confirm Password</div>
			<input id="reg_pwd2" name="pwd2" type="password" minlength="8" maxlength="60" required><br><br>

			<button class="normalbtn">Submit Registration Form</button>
		</form>
		<div class="small_divtext">Already Have an account?</div>
		<button class="smallbtn" onclick="loginLink()">Login Here</button>
	</div>
</section>








{% endblock %}



{% block javascript %}
<script>

function loginLink(){
	window.location.href="/user/login"
}
</script>
{% endblock %}
