{% extends "user_base.html" %}

{% block title %}Dashboard Page{% endblock %}
	{% block dashboard %} active{% endblock %}

{% block heading %}Welcome {{session['user_name']}} to the Dashboard page{% endblock %}
{% block body %}

<section id="section_table">
	<div id="div_table">
		<table>
			<thead>
				<th>
					<tr>
						<td>Oder ID</td>
						<td>Oder Date</td>
						<td>Buyer Name</td>
						<td>Menu Name</td>
						<td>Menu Price</td>
						<td>Seller Name</td>
						<td>Oder Status</td>
						<td>Delivery Time</td>
					</tr>
				</th>
			</thead>
			<tbody>
				{% for order in orders %}
				<tr>
					<td>{{order.order_id}}</td>
					<td>{{order.order_datetime}}</td>
					<td>{{order.buyer_name}}</td>
					<td>{{order.menu_name}}</td>
					<td>N{{formatNumber(order.menu_price)}}</td>
					<td>{{order.seller_name}}</td>
					<td>{{order.order_status}}</td>
					<td>{{order.delivery_datetime}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<!--<button id="uploadlink" onclick="addNewItem()" class="small_infobtn">Add New Item To Sell</button>-->
	</div>

</section>






{% endblock %}



{% block javascript %}
<script>


function viewInfo(val1='', val2=''){
	const overlay = document.getElementById('overlay');
	const section_modal_view_info = document.getElementById('section_modal_view_info');
	const modal_view_info_title = document.getElementById('modal_view_info_title');
	const modal_view_info_body = document.getElementById('modal_view_info_body');

	section_modal_view_info.style.display='block';
	overlay.style.position="fixed";
	overlay.style.top="0";
	overlay.style.right="0";
	overlay.style.bottom="0";
	overlay.style.left="0";
	overlay.style.backgroundColor="rgba(0,0,0,0.5)";
	overlay.style.zIndex="15";

	/* passing values dynamically */
	modal_view_info_title.innerHTML = "Description For: " + val1;
	modal_view_info_body.innerHTML = val2;
}


function buyItem(itemname='', price='', itemid='', sellername=''){
	const overlay = document.getElementById('overlay');
	const section_modal_buyitem = document.getElementById('section_modal_buyitem');
	const modal_buy_title = document.getElementById('modal_buy_title');
	const modal_buy_body = document.getElementById('modal_buy_body');

	/* varaibles for the form inpu id */
	const modalbuy_id = document.getElementById('modalbuy_id');

	/* passing values to the modal confirmation form */
	modalbuy_id.value = itemid;

	/* changing the style effects */
	section_modal_buyitem.style.display='block';
	overlay.style.position="fixed";
	overlay.style.top="0";
	overlay.style.right="0";
	overlay.style.bottom="0";
	overlay.style.left="0";
	overlay.style.backgroundColor="rgba(0,0,0,0.5)";
	overlay.style.zIndex="15";


	/* passing values dynamically */

	modal_buy_title.innerHTML = itemname;

	var itemName = "Item Name: " + itemname + "<br>";
	var itemPrice = "Price: " + price + "<br>";
	var itemID = "ID NO.: " + itemid + "<br>";
	var sellerName = "Seller Name: " + sellername;
	var conclude = "<h5 style='color:yellow'>by clicking the below you are confirmation to buy the above item</h5>";
	var message = itemName + itemPrice + itemID + sellerName + conclude;

	modal_buy_body.innerHTML = message;
}


/*
function addNewItem(){
	window.location.href='/seller/upload_meal';
}
*/
</script>
{% endblock %}
