{% extends "user_base.html" %}

{% block title %}Fund Wallet{% endblock %}
{% block wallet %} active{% endblock %}

{% block heading %}Boost Your Balance, {{session['username']}} Fund Your Account{% endblock %}


{% block body %}


<section id="section_fundwallet">
	<div id="div_regform">
		<form method="POST" action="{{url_for('user.fund_wallet')}}">
			<div>Enter the amount to fund your wallet</div>
			<input id="reg_email" name="amount" type="number" maxlength="5"><br><br>


			<input id="reg_username" type='hidden' name="user_name" value="{{session['user_name']}}">
			<input id="reg_username" type='hidden' name="user_id" value="{{session['user_id']}}">
			<button class="normalbtn">Fund Account</button>
		</form>
	</div>
</section>








{% endblock %}



{% block javascript %}
<script>

	function loginLink() {
		window.location.href = "/api/user/login"
	}
</script>
{% endblock %}