{% extends "home_base.html" %}

{% block title %}Home Page{% endblock %}
	{% block home %} active {% endblock %}


{% block heading %}Welcome to our Home Page{% endblock %}

{% block userlogin %}<li><a class="{% block user_login %} {% endblock %}" href="{{url_for('user.login')}}">Login as User</a></li>{% endblock %}
{% block sellerlogin %}<li><a class="{% block seller_login %} {% endblock %}" href="{{url_for('seller.login')}}">Login as Seller</a></li>{% endblock %}

{% block body %}









{% endblock %}

{% block javascript %}
<script>


</script>
{% endblock %}
