<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description"
        content=" Instant Meal a one-stop shop for lightning-fast food delivery, bringing a diverse selection of culinary delights straight to your doorstep.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../static/general.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/queries.css">

    <title>Instant Meal | Hot meals delivered fast</title>
</head>

<body>
    <header class="header">
        <h1 class="logo">Instant Meal</h1>
    </header>
    <main>
        <section class="section-meals" id="meals">
            <div class="container center-text">
                <span class="subheading">What’s good to eat?</span>
                <h2 class="heading-secondary">Top restaurants and more</h2>
            </div>
            <div class="container grid grid--3-cols margin-bottom-md">
                <div class="meal">
                    <a href="" class="kaldi-cafe">
                        <img src="../static/img/meals/coffee.jpg" alt="Japanese Gyozas" class="meal-img">
                        <div class="meal-content">
                            <div class="meal-tag">
                                <span class="tag tag--coffee">Cafe</span>
                                <span class="tag tag--coffee">Coffee</span>
                            </div>
                            <p class="meal-title">Kaldi Cafe</p>
                            <ul class="meal-attributes">
                                <li class="meal-attribute"><ion-icon name="star-outline"
                                        class="meal-icon"></ion-icon><span><strong>4.9</strong>
                                        average
                                        rating</span></li>
                                <!-- <li>Number reviews: 537</li> -->
                            </ul>
                        </div>
                    </a>
                </div>

                <div class="meal">
                    <a href="" class="the-place">
                        <img src="../static/img/meals/rice.jpg" alt="Japanese Gyozas" class="meal-img">
                        <div class="meal-content">
                            <div class="meal-tag">
                                <span class="tag tag--nigerian">Nigerian</span>
                                <span class="tag tag--seafood">Seafood</span>
                            </div>
                            <p class="meal-title">The Place</p>
                            <ul class="meal-attributes">
                                <li class="meal-attribute"><ion-icon name="star-outline"
                                        class="meal-icon"></ion-icon><span><strong>4.9</strong>
                                        average
                                        rating</span></li>
                                <!-- <li>Number reviews: 537</li> -->
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="meal">
                    <a href="" class="the-yellow-chilli">
                        <img src="../static/img/meals/jollof-rice.jpg" alt="Japanese Gyozas" class="meal-img">
                        <div class="meal-content">
                            <div class="meal-tag">
                                <span class="tag tag--nigerian">Nigerian</span>
                                <span class="tag tag--continental">Continental</span>
                            </div>
                            <p class="meal-title">The Yellow Chilli</p>
                            <ul class="meal-attributes">
                                <li class="meal-attribute"><ion-icon name="star-outline"
                                        class="meal-icon"></ion-icon><span><strong>4.8</strong>
                                        average
                                        rating</span></li>
                                <!-- <li>Number reviews: 537</li> -->
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="meal">
                    <a href="" class="nok-by-alara">
                        <img src="../static/img/meals/efo-riro.jpg" alt="Japanese Gyozas" class="meal-img">
                        <div class="meal-content">
                            <div class="meal-tag">
                                <span class="tag tag--nigerian">Nigerian</span>
                            </div>
                            <p class="meal-title">Nok by Alara</p>
                            <ul class="meal-attributes">
                                <li class="meal-attribute"><ion-icon name="star-outline"
                                        class="meal-icon"></ion-icon><span><strong>4.7</strong>
                                        average
                                        rating</span></li>
                                <!-- <li>Number reviews: 537</li> -->
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="meal">
                    <a href="" class="craft-gourme">
                        <img src="../static/img/meals/meal-2.jpg" alt="Avocado Salad" class="meal-img">
                        <div class="meal-content">
                            <div class="meal-tag">
                                <span class="tag tag--continental">Continental</span>
                                <span class="tag tag--fusion">Fusion</span>
                            </div>
                            <p class="meal-title">Craft Gourme</p>
                            <ul class="meal-attributes">
                                <li class="meal-attribute"><ion-icon name="star-outline"
                                        class="meal-icon"></ion-icon><span><strong>4.6</strong>
                                        average
                                        rating</span></li>
                                <!-- <li>Number reviews: 441</li> -->
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="meal">
                    <a href="" class="orchid-bistro">
                        <img src="../static/img/meals/potato.jpg" alt="Avocado Salad" class="meal-img">
                        <div class="meal-content">
                            <div class="meal-tag">
                                <span class="tag tag--continental">Continental</span>
                                <span class="tag tag--nigerian">Nigerian</span>
                            </div>
                            <p class="meal-title">Orchid Bistro</p>
                            <ul class="meal-attributes">
                                <li class="meal-attribute"><ion-icon name="star-outline"
                                        class="meal-icon"></ion-icon><span><strong>4.5</strong>
                                        average
                                        rating</span></li>
                                <!-- <li>Number reviews: 441</li> -->
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="meal">
                    <a href="" class="rhapsody">
                        <img src="../static/img/meals/Seafood-Okro.jpeg" alt="Avocado Salad" class="meal-img">
                        <div class="meal-content">
                            <div class="meal-tag">
                                <span class="tag tag--continental">Continental</span>
                                <span class="tag tag--nigerian">Nigerian</span>
                            </div>
                            <p class="meal-title">Rhapsody</p>
                            <ul class="meal-attributes">
                                <li class="meal-attribute"><ion-icon name="star-outline"
                                        class="meal-icon"></ion-icon><span><strong>4.4</strong>
                                        average
                                        rating</span></li>
                                <!-- <li>Number reviews: 441</li> -->
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="meal">
                    <a href="" class="ocean-basket">
                        <img src="../static/img/meals/shrimps.jpg" alt="Avocado Salad" class="meal-img">
                        <div class="meal-content">
                            <div class="meal-tag">
                                <span class="tag tag--seafood">Seafood</span>
                            </div>
                            <p class="meal-title">Ocean Basket</p>
                            <ul class="meal-attributes">
                                <li class="meal-attribute"><ion-icon name="star-outline"
                                        class="meal-icon"></ion-icon><span><strong>4.4</strong>
                                        average
                                        rating</span></li>
                                <!-- <li>Number reviews: 441</li> -->
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="meal">
                    <a href="" class="bungalow">
                        <img src="../static/img/meals/sushi.jpg" alt="Avocado Salad" class="meal-img">
                        <div class="meal-content">
                            <div class="meal-tag">
                                <span class="tag tag--mexican">Japanese</span>
                                <span class="tag tag--japanese">mexican</span>
                                <span class="tag tag--continental">Continental</span>
                            </div>
                            <p class="meal-title">Bungalow</p>
                            <ul class="meal-attributes">
                                <li class="meal-attribute"><ion-icon name="star-outline"
                                        class="meal-icon"></ion-icon><span><strong>4.4</strong>
                                        average
                                        rating</span></li>
                                <!-- <li>Number reviews: 441</li> -->
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </main>
    <footer class="section-footer">
        <div class="container grid grid--footer">
            <div class="logo-col">
                <h1 class="footer-logo">Instant Meal</h1>
                <ul class="social-links">
                    <li><a href="#" class="footer-link"><ion-icon name="logo-instagram"
                                class="social-icon"></ion-icon></a></li>
                    <li><a href="#" class="footer-link"><ion-icon name="logo-facebook"
                                class="social-icon"></ion-icon></a></li>
                    <li><a href="#" class="footer-link"><ion-icon name="logo-twitter"
                                class="social-icon"></ion-icon></a></li>
                    <li><a href="#" class="footer-link"><ion-icon name="logo-linkedin"
                                class="social-icon"></ion-icon></a></li>
                </ul>
                <p class="copyright">Copyright &copy; <span class="year">2030</span> by Instant Meal Inc. All rights
                    reserved.</p>
            </div>
            <div class="address-col">
                <p class="footer-heading">Contact Us</p>
                <address class="contacts">
                    <p class="address">Cohort #15, ALX portfolio project</p>
                    <p>
                        <a class="footer-link" href="tel415-201-637:">+234 906 666 6666</a><br>
                        <a class="footer-link" href="mailto:hello@instantmeal.com">hello@instantmeal.com</a>
                    </p>
                </address>
            </div>
            <nav class="nav-col">
                <p class="footer-heading">Accounts</p>
                <ul class="footer-nav">
                    <li><a class="footer-link" href="#">Create account</a></li>
                    <li><a class="footer-link" href="#">Sign in</a></li>
                    <li><a class="footer-link" href="#">IOS app</a></li>
                    <li><a class="footer-link" href="#">Andriod app</a></li>
                </ul>
            </nav>
            <nav class="nav-col">
                <p class="footer-heading">Company</p>
                <ul class="footer-nav">
                    <li><a class="footer-link" href="#">Customers</a></li>
                    <li><a class="footer-link" href="#">Vendors</a></li>
                    <li><a class="footer-link" href="#">Riders</a></li>
                    <li><a class="footer-link" href="#">Careers</a></li>
                </ul>
            </nav>
            <nav class="nav-col">
                <p class="footer-heading">Resources</p>
                <ul class="footer-nav">
                    <li><a class="footer-link" href="#">Recipe directory</a></li>
                    <li><a class="footer-link" href="#">Help center</a></li>
                    <li><a class="footer-link" href="#">Privacy & terms</a></li>
                </ul>
            </nav>
        </div>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script defer src="../js/script.js"></script>
    <script src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script>
</body>

</html>